<div class="craft">
    <a class="craft-image" href="/craft/{{craft.id}}" style="background-image: url({{image.[0].src}});"></a>

    <h4 class="craft-title">{{craft.title}}</h4>

    <p class="craft-info">{{craft.description}}</p>

    <button class="craft-btn">View Craft</button>
</div>