<!-- hero/jumbotron -->
<div class="hero">
    <h2 class="hero-text">Welcome to the Matrix</h2>
</div>

<div class="wrapper">
    <div class="description">
        <h3>Hovercraft</h3>
        <p>Hovercrafts serve as one of the primary transportation and defensive forces for the city of Zion. <br>
            They are manned by a mixture of redpills and natural-born humans. <br>
            The ships vary greatly in size, armament, crew complement and combat performance but all have one mission:
            <br>
            The protection and freedom of humanity from the oppression by the Machines and its continued use of the
            Matrix
            to imprison and control most of humanity.
        </p>
    </div>

    <div class="crafts">
        <ul class="craft-list">
            {{#each crafts as |craft|}}
            <li class="craft">
                <div class="craft-image" style="background-image: url({{craft.images.[0].src}});"></div>

                <h4 class="craft-title">{{craft.title}}</h4>

                <p class="craft-info">{{craft.crew}}</p>

                <a href="/craft/{{craft.id}}">
                    <button class="craft-btn"> View Details</button>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>