<form class="login-form">
    <h2>Login</h2>
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
    <div class="dividing-line"></div>
    <p>No account? <button>Create one</button></p>
</form>

<form class="signup-form">
    <h2>Sign Up</h2>
    <div>
        <label for="firstname-signup">First name:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="lastname-signup">Last name:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Create your account</button>
    </div>
    <div class="dividing-line"></div>
    <p>Already have an account? <button>Log in</button></p>
</form>

<script src="/javascript/login.js"></script>