<form class="form login">
    <h2>Login</h2>
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div class="btn">
        <button class="submit-btn" type="submit">login</button>
    </div>
    <div class="dividing-line"></div>
    <p>No account? <button class="btn-no-style signup-btn">Create one</button></p>
</form>

<form class="form signup">
    <h2>Sign Up</h2>
    <div>
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" />
    </div>
    <div>
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="btn">
        <button type="submit" class="submit-btn">Create your account</button>
    </div>
    <div class="dividing-line"></div>
    <p>Already have an account? <button class="btn-no-style login-btn">Log in</button></p>
</form>

<script src="/js/login.js"></script>